<style media="screen">
  #seeing {
    color: gray;
    text-decoration-style: dotted;
  }
  #grid {
    border: gray 2px sold;
    display: grid;
    grid-template-columns: 180px 1fr;
  }
  #grid ul {
    border-right: gray 0.5px solid;
    margin: 0;
    padding: 30px;
  }
  .content {
    padding-left: 30px;
  }
  body {
    margin: 0;
  }
  a {
    color: black;
    text-decoration: none;
  }
  h1 {
    font-size: 50px;
    border-bottom:gray 2px solid;
    text-align: center;
    margin: 0; padding: 10px;
  }
  body {
    padding: 50px;
    align-content: center;
  }
  h2 {
    font-size: 30px;
  }
</style>
